body {
  font-family: 'Helvetica';
  margin: 0;
  height: 100%;
}

#content {
  display: grid;
}

#backdrop {
  pointer-events: none;
  position: fixed;
  inset: 0;
  background: #000;
  opacity: 0%;
}

#backdrop.show {
  opacity: 60%;
}

header {
  border: 1px solid green;
  height: 50px;
  display: grid;
  grid-template-columns: 1.5fr repeat(3, 1fr);
  align-content: center;
  align-items: center;
  column-gap: 10px;
}

header input {
  margin-left: 20px;
  max-width: 300px;
}

header span {
  width: max-content;
  height: min-content;
  background-color: #e9e9ed;
  padding: 10px;
  align-self: end;
}

.overview-tab {
  justify-self: end;
}

.overview-tab:hover {
  cursor: pointer;
}

/* .category-tab {
  width: max-content;
  height: min-content;
} */

.category-tab img {
  filter: invert(100%);
  width: min-content;
  height: min-content;
  width: 24px;
  height: auto;
  vertical-align: bottom;
}

.category-tab:hover {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
  background-color: #e9e9ed;
}

.dropdown-content.show {
  display: block;
}

.dropdown-item:hover {
  background-color: #264653;
  color: white;
}

.dropdown-item {
  display: block;
  padding: 10px;
}

.new-category-modal {
  z-index: 5;
  border: 1px solid black;
  position: fixed;
  top: 0%;
  left: 50%;
  transform-origin: center;
  transform: translate(-50%, -80%);
  pointer-events: none;
  opacity: 0%;
  padding: 10px 20px;
  background: white;

  transition: top 0.3s, opacity 0.3s;
}

.new-category-modal.show {
  opacity: 100%;
  pointer-events: all;
  top: 10%;
}

.new-category-modal input {
  margin: 0 20px 0 5px;
}

.btn-todoItem-form {
  width: min-content;
  padding: 5px 15px;
}

.btn-todoItem-form:hover {
  cursor: pointer;
}

.add-item-container {
  justify-self: center;
  width: 50%;
  max-width: 500px;
  padding: 30px;
}

.add-item-container fieldset {
  display: flex;
  flex-flow: column wrap;
  gap: 20px;
}

.add-item-container fieldset div {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}

.todo-item-container {
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  gap: 20px;
  border: 3px solid white;
  border-radius: 5px;
}

.todo-item-description {
  flex-basis: 100%;
  margin: 0;
}

.todo-item-notes {
  flex-basis: 100%;
  margin: 0;
}

.todo-item-container img:hover {
  cursor: pointer
}

.expand-contract-icon {
  width: 24px;
  height: 24px;
  filter: invert(80%);
  margin-left: auto;
}


.delete-icon {
  width: 24px;
  height: 24px;
  filter: invert(80%);
}
